{% load render_partial%}

<!DOCTYPE html>
<html lang="fa">


<head>
    {% include "links.html" %}

    <title>
        {% block title %}
            
        {% endblock  %}
    </title>


</head>
<body>
    <div class="wrapper">
        {% render_partial "home_app.views.header_component" %} 

        {% block content %}
    
        {% endblock content %}

        {% render_partial "home_app.views.footer_component" %} 

        {% include "colorswitch.html" %}

        {% include "scripts.html" %}
    </div>
</body>
</html>
